* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  /* background: url(./pokeash.jpg);
  background-size: cover; */
}
.pokedex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 850px;
}

form {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
input {
  width: 50vw;
  height: 3em;
  padding: 1vh;
  font-size: 2vh;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-family: 'Press Start 2P', cursive;
}
.container {
  position: absolute;
  top: 37%;
  left: 52%;
  transform: translate(-50%, -0%);
  display: flex;
  justify-content: space-between;
  width: 700px;
  /* background-color: rgba(0, 0, 0, 0.438); */
}
.pokemonpic {
  height: 13em;
  width: 13em;
}
h1 {
  font-size: 1em;
}
.table {
  font-size: large;
  right: 0;
  /* margin: 0 0 0 300px; */
}
.tableRow {
  display: flex;
  margin-bottom: 4vh;
}
